@charset "UTF-8";

body {
    display: flex;
    flex-direction: row;
    justify-items: center;
    background-color: #1b1e23;
    color: #ffff00;
    position: absolute;
    align-items: center;
}
#centro {
   text-align: center;
   color: #ffff00;
   text-shadow: #F24F00 1px 1px 0.5px;
}

#lado-esquerdo {
    width: 380px;
    margin: 15px;
}

#lado-direito {
    width: 380px;
    margin: 15px;
}

.texto {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 14pt;
    text-align: justify;
}
